<h1>Всі мої пости по рельсам, або коротка історія начала </h1>
<% @post.each do |post| %>
  <div class="alert alert-light">
  <H4><%=post.title %></H4>
  <H4><%=post.body %></H4>
    <%= link_to "Читати далі", post_path(post), :class => 'btn btn-outline-primary' %>
  </div>
  <br>
<% end %>