<h1>Все наши пости </h1>
<% @post.each do |post| %>
  <div class="alert alert-light">
  <H3><%=post.title %></H3>
  <H3><%=post.body %></H3>
    <%= link_to "Читати далі", post_path(post), :class => 'btn btn-outline-primary' %>
  </div>
  <br>
<% end %>