<H1><%=@post.title %></H1>
<H1><%=@post.body %></H1>
<hr>
<%= link_to "Редактувати", edit_post_path(@post),:class => 'btn btn-warning' %>
<%= link_to "Видалити пост", post_path(@post), method: :delete, data: {confirm: "Чи ви дійсно хочете видалити пост?"}, :class => 'btn btn-danger' %>